## Imports

In [2]:
import robin_stocks
import pandas as pd
import os

## Login

In [23]:
# login to robinhood
#robin_stocks.authentication.login(username='xxxxxxxxx', password='xxxxxxxxxx', expiresIn=86400, scope='internal', 
#                                  by_sms=True, store_session=True)

## Get 50 Most Popular Stocks on Robinhood as of 7/6/2020
- Data comes from Robintrack.net

In [7]:
pop_df = pd.read_csv("data/leaderboard_2020-07-06.csv")

In [9]:
# Get top 50
pop_50_df = pop_df[:50]

In [11]:
# Get tickers as a list for the API call to get historical data
top_50_list = list(pop_50_df['symbol'])

## Get Historical Data for 50 Most Popular Stocks on 7/6/2020
- Daily data over past 3 months, market close price, and volume.

In [14]:
# Give list of top 50 tickers to API call
stock_list_data = robin_stocks.stocks.get_stock_historicals(top_50_list, interval='day', span='3month', 
                                                            bounds='regular')

In [15]:
# Make DF
stock_list_df = pd.DataFrame(stock_list_data)

In [17]:
stock_list_df.head()

,begins_at,open_price,close_price,high_price,low_price,volume,session,interpolated,symbol
0,2020-04-06T00:00:00Z,4.540000,4.530000,4.670000,4.410000,102205319,reg,False,F
1,2020-04-07T00:00:00Z,4.850000,4.710000,5.030000,4.630000,115150448,reg,False,F
2,2020-04-08T00:00:00Z,4.860000,5.030000,5.090000,4.800000,117022189,reg,False,F
3,2020-04-09T00:00:00Z,5.510000,5.370000,5.750000,5.370000,175833664,reg,False,F
4,2020-04-13T00:00:00Z,5.430000,5.160000,5.430000,5.020000,99320002,reg,False,F

In [18]:
# Drop unneeded columns
stock_list_df.drop(['open_price', 'high_price', 'low_price', 'session', 'interpolated'],
                  axis=1, inplace=True)

stock_list_df.head()

              begins_at close_price     volume symbol
0  2020-04-06T00:00:00Z    4.530000  102205319      F
1  2020-04-07T00:00:00Z    4.710000  115150448      F
2  2020-04-08T00:00:00Z    5.030000  117022189      F
3  2020-04-09T00:00:00Z    5.370000  175833664      F
4  2020-04-13T00:00:00Z    5.160000   99320002      F

In [19]:
# Get rid of unneeded time information from date column
stock_list_df['begins_at'] = stock_list_df['begins_at'].str[:10]

In [20]:
stock_list_df.head()

    begins_at close_price     volume symbol
0  2020-04-06    4.530000  102205319      F
1  2020-04-07    4.710000  115150448      F
2  2020-04-08    5.030000  117022189      F
3  2020-04-09    5.370000  175833664      F
4  2020-04-13    5.160000   99320002      F

## Send DF with multiple stocks to csv to make dynamic d3 chart

In [21]:
# Create data directory
if not os.path.exists('data'):
    os.makedirs('data')
    
stock_list_df.to_csv('data/top_50.csv', index=False)

In [22]:
stock_list_df

       begins_at close_price     volume symbol
0     2020-04-06    4.530000  102205319      F
1     2020-04-07    4.710000  115150448      F
2     2020-04-08    5.030000  117022189      F
3     2020-04-09    5.370000  175833664      F
4     2020-04-13    5.160000   99320002      F
...          ...         ...        ...    ...
3095  2020-06-26  443.400000    6804726   NFLX
3096  2020-06-29  447.240000    4843978   NFLX
3097  2020-06-30  455.040000    4198545   NFLX
3098  2020-07-01  485.640000    9705870   NFLX
3099  2020-07-02  476.890000    6351485   NFLX

[3100 rows x 4 columns]