## Imports

In [23]:
import robin_stocks
import pandas as pd
import os

## Login

In [44]:
# login to robinhood
#robin_stocks.authentication.login(username='xxxxxxx', password='xxxxxxxx', expiresIn=86400, scope='internal', 
#                                  by_sms=True, store_session=True)

## Get AAPL Data

In [25]:
apple = robin_stocks.stocks.get_stock_historicals('AAPL', interval='day', span='month', bounds='regular')

In [26]:
apple_df = pd.DataFrame(apple)

In [27]:
apple_df

,begins_at,open_price,close_price,high_price,low_price,volume,session,interpolated,symbol
0,2020-05-26T00:00:00Z,323.500000,316.730000,324.240000,316.500000,31380454,reg,False,AAPL
1,2020-05-27T00:00:00Z,316.140000,318.110000,318.710000,313.090000,28236274,reg,False,AAPL
2,2020-05-28T00:00:00Z,316.770000,318.250000,323.440000,315.630000,33449103,reg,False,AAPL
3,2020-05-29T00:00:00Z,319.250000,317.940000,321.150000,316.470000,38399532,reg,False,AAPL
4,2020-06-01T00:00:00Z,317.750000,321.850000,322.350000,317.210000,20254653,reg,False,AAPL
5,2020-06-02T00:00:00Z,320.745000,323.340000,323.440000,318.930000,21910704,reg,False,AAPL
6,2020-06-03T00:00:00Z,324.660000,325.120000,326.200000,322.300000,26122804,reg,False,AAPL
7,2020-06-04T00:00:00Z,324.390000,322.320000,325.620000,320.780000,21890091,reg,False,AAPL
8,2020-06-05T00:00:00Z,323.350000,331.500000,331.750000,323.230000,34312550,reg,False,AAPL
9,2020-06-08T00:00:00Z,330.250000,333.460000,333.600000,327.320000,23913634,reg,False,AAPL
10,2020-06-09T00:00:00Z,332.140000,343.990000,345.610000,332.010000,36928091,reg,False,AAPL
11,2020-06-10T00:00:00Z,347.900000,352.840000,354.770000,346.090000,41662938,reg,False,AAPL
12,2020-06-11T00:00:00Z,349.310000,335.900000,351.060000,335.480000,50415613,reg,False,AAPL
13,2020-06-12T00:00:00Z,344.720000,338.800000,347.800000,334.223300,50036513,reg,False,AAPL
14,2020-06-15T00:00:00Z,333.250000,342.990000,345.680000,332.580000,34702230,reg,False,AAPL
15,2020-06-16T00:00:00Z,351.460000,352.080000,353.200000,344.720000,41357182,reg,False,AAPL
16,2020-06-17T00:00:00Z,355.150000,351.590000,355.400000,351.090000,28601626,reg,False,AAPL
17,2020-06-18T00:00:00Z,351.410000,351.730000,353.450000,349.220000,24205096,reg,False,AAPL
18,2020-06-19T00:00:00Z,354.635000,349.720000,356.560000,345.150000,66118952,reg,False,AAPL
19,2020-06-22T00:00:00Z,351.340000,358.870000,359.460000,351.150000,33861316,reg,False,AAPL
20,2020-06-23T00:00:00Z,364.000000,366.530000,372.380000,362.270100,53038869,reg,False,AAPL
21,2020-06-24T00:00:00Z,365.000000,360.060000,368.790000,358.520000,48155849,reg,False,AAPL
22,2020-06-25T00:00:00Z,360.700000,364.840000,365.000000,357.570000,34380628,reg,False,AAPL

In [28]:
apple_df.dtypes

begins_at       object
open_price      object
close_price     object
high_price      object
low_price       object
volume           int64
session         object
interpolated      bool
symbol          object
dtype: object

## Get Historical Data for 10 different stocks
- Daily data over past 3 months

In [29]:
stock_list = ['AAPL', 'JPM', 'BAC', 'T', 'GOOG', 'XOM', 'MSFT', 'WFC', 'AMZN', 'VZ']

stock_list_data = robin_stocks.stocks.get_stock_historicals(stock_list, interval='day', span='3month', 
                                                            bounds='regular')

In [30]:
stock_list_df = pd.DataFrame(stock_list_data)

In [31]:
stock_list_df

,begins_at,open_price,close_price,high_price,low_price,volume,session,interpolated,symbol
0,2020-03-26T00:00:00Z,246.520000,258.440000,258.680000,246.360000,63140169,reg,False,AAPL
1,2020-03-27T00:00:00Z,252.750000,247.740000,255.870000,247.050000,51054153,reg,False,AAPL
2,2020-03-30T00:00:00Z,250.740000,254.810000,255.520000,249.400000,41994110,reg,False,AAPL
3,2020-03-31T00:00:00Z,255.600000,254.290000,262.490000,252.000000,49250501,reg,False,AAPL
4,2020-04-01T00:00:00Z,246.500000,240.910000,248.720000,239.130000,44054638,reg,False,AAPL
...,...,...,...,...,...,...,...,...,...
635,2020-06-19T00:00:00Z,57.350000,56.160000,57.470000,56.000000,28843754,reg,False,VZ
636,2020-06-22T00:00:00Z,55.910000,55.660000,56.260000,55.610000,12333875,reg,False,VZ
637,2020-06-23T00:00:00Z,55.750000,54.940000,55.845000,54.910000,20716400,reg,False,VZ
638,2020-06-24T00:00:00Z,54.540000,53.930000,54.560000,53.455000,24794574,reg,False,VZ
639,2020-06-25T00:00:00Z,53.910000,54.280000,54.385000,53.340000,17122520,reg,False,VZ

In [32]:
# Drop unneeded columns
stock_list_df.drop(['open_price', 'high_price', 'low_price', 'session', 'interpolated'],
                  axis=1, inplace=True)

stock_list_df.head()

              begins_at close_price    volume symbol
0  2020-03-26T00:00:00Z  258.440000  63140169   AAPL
1  2020-03-27T00:00:00Z  247.740000  51054153   AAPL
2  2020-03-30T00:00:00Z  254.810000  41994110   AAPL
3  2020-03-31T00:00:00Z  254.290000  49250501   AAPL
4  2020-04-01T00:00:00Z  240.910000  44054638   AAPL

In [33]:
# Get rid of unneeded time information from date column
stock_list_df['begins_at'] = stock_list_df['begins_at'].str[:10]

In [34]:
stock_list_df.head()

    begins_at close_price    volume symbol
0  2020-03-26  258.440000  63140169   AAPL
1  2020-03-27  247.740000  51054153   AAPL
2  2020-03-30  254.810000  41994110   AAPL
3  2020-03-31  254.290000  49250501   AAPL
4  2020-04-01  240.910000  44054638   AAPL

## Get AAPL Alone for Experimenting with D3

In [35]:
AAPL_df = stock_list_df[stock_list_df['symbol']=='AAPL']

In [36]:
AAPL_df

     begins_at close_price    volume symbol
0   2020-03-26  258.440000  63140169   AAPL
1   2020-03-27  247.740000  51054153   AAPL
2   2020-03-30  254.810000  41994110   AAPL
3   2020-03-31  254.290000  49250501   AAPL
4   2020-04-01  240.910000  44054638   AAPL
..         ...         ...       ...    ...
59  2020-06-19  349.720000  66118952   AAPL
60  2020-06-22  358.870000  33861316   AAPL
61  2020-06-23  366.530000  53038869   AAPL
62  2020-06-24  360.060000  48155849   AAPL
63  2020-06-25  364.840000  34380628   AAPL

[64 rows x 4 columns]

In [37]:
# Create data directory
if not os.path.exists('data'):
    os.makedirs('data')
    
AAPL_df.to_csv('data/AAPL.csv', index=False)

## Send DF with multiple stocks to csv to make dynamic d3 chart

In [38]:
stock_list_df.to_csv('data/top_ten.csv', index=False)

In [43]:
robin_stocks.stocks.get_popularity('GE')

{'instrument': 'https://api.robinhood.com/instruments/39ff611b-84e7-425b-bfb8-6fe2a983fcf3/',
 'num_open_positions': 830383}